
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông tin đơn hàng: {{CustomerName}}</title>
</head>
<body>
    Tên người gửi: {{CustomerName}} <br />
    Điện thoại: {{Phone}} <br />
    Email người gửi: {{Email}} <br />
    Nội dung: {{Address}} <br />
</body>
</html>
