@model IEnumerable<WebCuoiKy.Models.Slider>
<div id="header-carousel" class="carousel slide float-lg-right" data-ride="carousel" style="margin-top:7px;">
    <div class="carousel-inner">
        @foreach (var item in Model)
        {
            if (@item.MaSL == 1)
            {
                <div class="carousel-item active" style="height: 410px;">
                    <img class="img-fluid" src="~/img/@item.Anh" alt="Image">
                </div>
            }
            else
            {
                <div class="carousel-item" style="height: 410px;">
                    <img class="img-fluid" src="~/img/@item.Anh" alt="Image">
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>
    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>
</div>
</div>