
@{
    ViewBag.Title = "User";
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Admin.cshtml";
}

<div class="container-fluid pt-5" style="background-color:white; width:100%;">
    <div class="content" style="background-color: #F3F4F6; width: 100%; margin-left: -2px; height: 45px; border:1px solid #808080;">
        <h5 class="section-title px-5" style="padding-top: 10px; text-align: center; ">BẠN KHÔNG CÓ QUYỀN TRUY CẬP QUẢN TRỊ</h5>
    </div>
</div>
