
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>THÔNG TIN ĐƠN HÀNG: {{CustomerName}}</title>
</head>
<body>
    <table>
    <tr><td colspan="5">THÔNG TIN ĐƠN HÀNG</td></tr>
    Tên người nhận: {{CustomerName}} <br />
    Điện thoại: {{Phone}} <br />
    Email: {{Email}} <br />
    Địa chỉ: {{Address}} <br />
    Tổng tiền: {{Total}} VNĐ<br />
    </table>

</body>
</html>
