<a href="@Url.Action("GioHang","GioHang")" class="btn border" style="background-color:#E70000;">
    <i class="fas fa-shopping-cart" style="color:white;"></i>
    <span class="badge" id="cart_count" style="color:black;">@ViewBag.TongSoLuong</span>
</a>
